<!DOCTYPE html>
<html>
    <head>
        <title>Upload File to Amazon S3</title>
    </head>
    <body>
      <form enctype="multipart/form-data" method="post">
          <div>
            <label for="email">Enter an Email Address:</label>
            <input type="email" id="email" name="email" value="" required />
          </div>
          <div>
            <label for="file">Select a File to Upload:</label>
            <input type="file" id="file" name="file" value="" required />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </body>
</html>
